:root{
    --background-color-1: white;
    --background-color-2: whitesmoke;
    --accent-color: rgb(255,170,6);
    --border: rgba(0,0,0,0.1);
}

body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: var(--background-color-2);
    padding: 10px 50px;
    display:flex;
    align-items: center;
    border: 1px solid var(--border);
}

nav button {
    height: 3em;
    margin: 0px 10px;
}

button {
    font-size: 0.8rem;
    padding: 10px;
    background-color: white;
    border: var(--border);
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(0.96);
}

#main-container{
    padding: 20px 50px;
}

.work{
    padding: 15px 10px;
    margin: 0 -10px;
    transition: background-color 0.1s;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.work:hover{
    background-color: var(--background-color-2);
}

#classes .work.added{
    background-color: var(--accent-color);
    color: var(--background-color-1)
}

.work p {
    margin: 0;
    padding: 0;
}

#classes {
    margin-bottom: 50px;
}

#classes .work p{
    transform: translateX(-44px);
    transition: transform 0.3s;
}

#classes .work:hover p {
    transform: translateX(0)
}

#classes .work.added p {
    transform: translateX(0)
}

#classes .work button {
    margin: 0 10px;
    padding: 4px 4px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: var(--background-color-1);
    border-radius: 5px;
    border: 1px solid var(--border);
    transform: scale(0);
    transition: transform 0.3s;
}

#classes .work:hover button {
    transform: scale(1);
}

#classes .work button:hover {
    transform: scale(1.05);
}

#classes .work button:active {
    transform: scale(0.9);
}

#classes .work.added button {
    transform: scale(1)
}


#today .work {
    gap: 40px;
}

#today .work .class {
    opacity: 0.4;
}
